#!/bin/bash
set -euo pipefail

# Add Fish to /etc/shells and set as default shell if not already set
FISH_PATH="$(command -v fish || true)"
if [ -n "$FISH_PATH" ] && [ "$SHELL" != "$FISH_PATH" ]; then
    if ! grep -Fxq "$FISH_PATH" /etc/shells; then
        echo "==> Adding $FISH_PATH to /etc/shells"
        echo "$FISH_PATH" | sudo tee -a /etc/shells
    fi
    echo "==> Changing default shell to Fish"
    chsh -s "$FISH_PATH"
fi