#!/bin/bash
set -euo pipefail

{{ if not .k8s }}
echo "Skipping k8s packages"
exit 0
{{ end }}

{{ template "brew-shellenv.sh" . }}

brew bundle --file=/dev/stdin <<EOF
brew "azure-cli"
brew "glab"
brew "k9s"
brew "opentofu"
brew "kubectl"
brew "helm"
EOF
