#!/bin/bash
set -euo pipefail

{{ if not .gpg }}
echo "Skipping gpg packages"
exit 0
{{ end }}

{{ template "brew-shellenv.sh" . }}

brew bundle --file=/dev/stdin <<EOF
# GNU Privacy Guard (OpenPGP)
brew "gnupg"
{{ if ne .chezmoi.os "darwin" -}}
# Passphrase entry dialog; macOS uses pinentry-mac from the cask list instead
brew "pinentry"
{{ end -}}
EOF
