#!/bin/bash
set -euo pipefail

{{ if not .media }}
echo "Skipping media packages"
exit 0
{{ end }}

{{ template "brew-shellenv.sh" . }}

brew bundle --file=/dev/stdin <<EOF
# Play, record, convert, and stream select audio and video codecs
brew "ffmpeg"
# OCR (Optical Character Recognition) engine
brew "tesseract"
# Enables extra languages support for Tesseract
brew "tesseract-lang"
# Tools and libraries to manipulate images in select formats
brew "imagemagick"
# Download media from Instagram
brew "instaloader"
# Unified display of technical and tag data for audio/video
brew "media-info"
# Toolkit for 3D computer graphics, image processing, and visualization
brew "vtk"
# Feature-rich command-line audio/video downloader
brew "yt-dlp"
EOF
