#!/bin/bash
set -euo pipefail

{{ if not .latex }}
echo "Skipping latex packages"
exit 0
{{ end }}

{{ template "brew-shellenv.sh" . }}

brew bundle --file=/dev/stdin <<EOF
# Backend processor for BibLaTeX
brew "biber"
# Extremely fast LaTeX formatter written in Rust
brew "tex-fmt"
# Free software distribution for the TeX typesetting system
brew "texlive"
EOF
