#!/bin/bash
set -euo pipefail

{{ if not .k8s }}
echo "Skipping k8s packages"
exit 0
{{ end }}

# Ensure brew is in PATH for this subshell
test -x /opt/homebrew/bin/brew && eval "$(/opt/homebrew/bin/brew shellenv)"
test -x /home/linuxbrew/.linuxbrew/bin/brew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
test -x /usr/local/bin/brew && eval "$(/usr/local/bin/brew shellenv)"

brew bundle --file=/dev/stdin <<EOF
brew "azure-cli"
brew "glab"
brew "k9s"
brew "opentofu"
brew "kubectl"
brew "helm"
EOF
