{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo apt install -y\
    ripgrep\
    fish\
    starship\
    fzf\
    neovim\
    bat\
    jq\
    btop\
    oras\
    htop\
    build-essential\
    tealdeer\
    lazygit\
    fd-find\
    
## MISE

sudo add-apt-repository -y ppa:jdxcode/mise
sudo apt update
sudo apt install -y mise

## TODO
# install wslopen https://github.com/mkletri/wslopen/releases

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# brew install ripgrep
{{ end -}}
