{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo apt install -y\
    ripgrep\
    fish\
    starship\
    fzf\
    neovim\
    bat\
    jq\
    btop\
    oras\
    htop\
    build-essential\
    tealdeer\
    lazygit\
    fd-find\
    unzip\
    luarocks\
    tmux\

    
## MISE

sudo add-apt-repository -y ppa:jdxcode/mise
sudo apt update
sudo apt install -y mise

mise install

cargo install zoxide --locked

curl -L https://github.com/joshmedeski/sesh/releases/latest/download/sesh_Linux_x86_64.tar.gz | tar xz -C /tmp sesh
sudo mv /tmp/sesh /usr/local/bin/sesh

mkdir -p ~/.local/bin
ln -s /usr/bin/batcat ~/.local/bin/bat

sudo mkdir -p /etc/apt/keyrings
wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
sudo apt update
sudo apt install -y eza

## TODO
# install wslopen https://github.com/mkletri/wslopen/releases

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# brew install ripgrep
{{ end -}}
