{{- $ayuVariant := includeTemplate "ayu-variant" . -}}
# ~/.config/tmux/tmux.conf

# --- Prefix ---

# Unbind the default Ctrl+b
unbind C-b

# Set Ctrl+Space as prefix
set -g prefix C-Space

# Ctrl+Space Ctrl+Space sends a literal Ctrl+Space to the app inside
# (in case anything ever needs it)
bind C-Space send-prefix

# --- True color support ---

# Tell tmux to advertise 256-color support to apps inside it.
set -g default-terminal "tmux-256color"
# Tell tmux that the terminal OUTSIDE (Alacritty) supports true color (RGB).
set -ag terminal-overrides ",*:RGB"

# --- Quality of life ---

# Start window/pane numbering at 1
set -g base-index 1
setw -g pane-base-index 1

# Reduce escape delay (important for nvim)
set -sg escape-time 10

# Enable mouse
set -g mouse on

# Increase scrollback buffer
set -g history-limit 50000

# --- Sesh ---
bind-key x kill-pane # skip "kill-pane 1? (y/n)" prompt
set -g detach-on-destroy off  # don't exit from tmux when closing a session

bind-key o display-popup -E -w 64 -h 18 "bash ~/.config/tmux/sesh-connect.sh"

# --- Plugins ---
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'niksingh710/minimal-tmux-status'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

{{ if eq $ayuVariant "dark" -}}
# Match ayu dark colors
set -g @minimal-tmux-bg "#0b0e14"
set -g @minimal-tmux-fg "#e6e1cf"
{{ else if eq $ayuVariant "light" -}}
# Match ayu light colors
set -g @minimal-tmux-bg "#f8f9fa"
set -g @minimal-tmux-fg "#5c6166"
{{ else -}}
# Match ayu mirage colors
set -g @minimal-tmux-bg "#73d0ff"
set -g @minimal-tmux-fg "#212733"
{{ end -}}

# ⚠️ Keep this line at the very bottom
run '~/.config/tmux/plugins/tpm/tpm'
