{{- $ayuVariant := default "mirage" (index . "ayu_variant") -}}
return {
  {
    "Shatur/neovim-ayu",
    lazy = true, -- only load when selected as the colorscheme
  },

  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "ayu-{{ $ayuVariant }}",
    },
  },
}
